
  * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
  }

  html,body{
      height: 100%; 
      margin: 0px;   
  }

  table, td, th {    
    border: 1px solid #ddd;
    text-align: center;
}



table {
    border-collapse: collapse;
    width: 70vw;
    background-color: gray;
 
  /* opacity: 0.80;
filter: alpha(opacity=80); */
}

th, td {
    padding: 15px;
}

  h1,h2,h3,h4,h5,h6 {
      margin: 0px;
  }

  p {
      
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
  }

  ul{
    margin: 0px;
    list-style-type: none;
   
    
}

.liststyle{
  width: 100%;
  text-align: center;
}

li{
    margin: 0px;
    border-bottom: 2px solid rgba(255,255,255,0.24);
    
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
   
}
.menu>a:hover:not(.active) {
  background-color: #555;
  color: white;
 
}


  input {
       outline: none; 
       border: none;
  }

  input::-webkit-input-placeholder { 
      color: #fff;
    }

  label {
    margin: 0;
    
  }
 
  button {
      outline: none !important;
      border: none;
      background: transparent;
  }

  iframe {
      border: none !important;
  }

  .txt1 {
    font-size: 13px;
    color: #e5e5e5;
    line-height: 1.5;
  }

  .limiter {
    width: 100%;
    margin: 0 auto;
  }

  input[type=button] {
    cursor:pointer;
    width: 10vh;
    height: 5vh;
    
  }

  .container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-image: url('images/bg-01.jpg');
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
  }

  .wrap-login {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
    background-color: rgb(136, 130, 130);
    /* opacity: 0.80;
  filter: alpha(opacity=80); */
  }

  .login-form {
    width: 100%;
  }

  .login-form-logo {
    font-size: 60px;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
  }

  .login-form-title {
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 34px;
    padding-top: 27px;
    display: block;
  }

  .wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(255,255,255,0.24);
    margin-bottom: 30px;
  }

  .input {
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px 0 38px;
  }

  .focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  
  .login-form-btn {
    font-size: 16px;
    background-color: #fff;
    line-height: 1.2;
    content: "";
    
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    background: #fff;
    }

    .maincontainer{
      display: flex;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; 
  }
  
  .topcontainer{
      display: flex;
      height: 10vh;
      background-color: gray;
      opacity: 0.60;
    filter: alpha(opacity=60);
  }
  
  .logo{
      display:flex;
      width:20vw;
      height:70px;
  }

  .logo>img{
    width: 18vw;
    
}

/* .menu{
  display: flex;
  width:70vw;
  align-items: center;
  justify-content: center;
  
} */

a{
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  color: white;
  font-size: 20px;
   /* line-height: 3;  */

  
}
.alink{
  line-height: 3;
}

.centrecontainer{
  display: flex;
 
}

.sidecontainer{
  display: flex;
  width:20vw;
  height:82vh;
  background-color: black;
  justify-content: center;
  padding-top:20px;
  opacity: 0.60;
filter: alpha(opacity=60);
overflow: hidden;

}

.midcontainer{
  display:flex;
  
  padding-top: 20px;
  /* align-items: center; */
  justify-content: center;
  width:80vw;
  height: 80vh;
  overflow: auto;
}

.bottomcontainer{
  bottom: 0;
  display: flex;
  height: 8vh;
  background-color: gray;
  /* opacity: 0.60;
filter: alpha(opacity=60); */
justify-content: center;
align-items: center;
color:white;
font-size: 20px;
}

    

  

  
/* MEDIA QUERY */


  @media (max-width: 576px) {
    .wrap-login {
         padding: 55px 15px 37px 15px;
    }
      .imagestyle{
          width: 50vw;
          height:20vh;

      }
      
      .centrecontainer{
        display: flex;
        flex-direction: column;
       width: 100vw;
      }

    .sidecontainer{
      width: 100vw;
      display:flex;
      height: 28vh;
      padding-top: 0;
    }

    .topcontainer{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .logo{
      display: flex;
    width:100vw;
    height: 50vh;
      align-items: center;
      justify-content: center;
      padding-top: 10px;

  }

  .link{
    display: flex;
    width: 100vw;
    padding: 2px 8px 3px 2px;
    align-items: center;
    justify-content: center;

  }

  


  .alink{
    line-height: 1.7;
    padding: 2px 2px 2px 2px;
  }

  
  .midcontainer{
    display: flex;
    overflow-x: hidden;
    height: 60vh;
    width: 100vw;
    margin-bottom: 5px;
    
  }

  .bottomcontainer{
    
    display: flex;
    height: 10vh;
  }

 ul{
   display: inline;
 }
 







 










    
    }


  







